{% extends "layout.html" %} {% block body %}
<div class=main>
    <h1>Storage Location</h1>
    {% if args is not none %}
      {% for arg in args %}
        <p> {{ arg }} </p>
      {% endfor %}
    {% endif %}
    <div>
    <a href="https://plot.ly/~jeimmi/10/?share_key=L7WCI98VH8GYAGfH46bqvW" target="_blank" title="Avg_Temp" style="display: block; text-align: center;"><img src="https://plot.ly/~jeimmi/10.png?share_key=L7WCI98VH8GYAGfH46bqvW" alt="Avg_Temp" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="jeimmi:10" sharekey-plotly="L7WCI98VH8GYAGfH46bqvW" src="https://plot.ly/embed.js" async></script>
    </div>
</div>
<div class=aside>
    <h3>Config data</h3>
    <form method="post" action="{{ url_for('storage_location') }}">
        First name:<br>
        <input type="text" name="firstname">
        <br> Last name:<br>
        <input type="text" name="lastname">
        <br>
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}
