{% extends "layout.html" %} {% block body %}
<div class=main>
    <h1>Type of food</h1>
    {% if crops is not none %}
      {% for key, value in crops.items() %}
        {% for crops in value %}
          <table>
            <tr>
          {% for crop, cropData in crops.items() %}
          <td>

            <div class="w3-container">
              <center>
              <h2>{{ cropData["name"] }}</h2>
            </center>
              {% if cropData["name"] in args %}
              <div class="w3-card-4 w3-blue" style="width:100%">
                {% else %}
                <div class="w3-card-4" style="width:100%">
                {% endif %}
                <img src="{{ url_for('static', filename = cropData["img"]) }}" style="width:100%">
                <div class="w3-container w3-center">
                  <table>
                    <tr>
                  {% for temp in cropData["temperatures"] %}
                        <td><p> {{ temp }} </p>
                  {% endfor %}
                </tr>
                <tr>
              {% for temp in cropData["temperatures"] %}
                    <td><p>{{ cropData["temperatures"][temp] }} </p>
              {% endfor %}
            </tr>
                </table>
                  </div>
                </div>
              </div>
            </td>
          {% endfor %}
        </tr>
        </table>
        {% endfor %}
      {%endfor %}
    {% endif %}
    {% if args is not none %}
      {% for arg in args %}
        <p> {{ arg }} </p>
      {% endfor %}
    {% endif %}
</div>
<div class=aside>
    <h3>Config data</h3>
    <form method="post" action="{{ url_for('type_of_food') }}">
      <table>
      {% for key, value in crops.items() %}
        {% for crops in value %}
          {% for crop, cropData in crops.items() %}
          <tr>
            <td><input type="checkbox" name ="crops" value="{{ cropData["name"] }}">
              <td>{{ cropData["name"] }}
          </tr>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </table>
        <br>
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}
