{% extends "layout.html" %} {% block body %}
<div class=main>
    <center>
      <h1>Crops</h1>
    </center>
    <form method="post" action="{{ url_for('type_of_food') }}">
    {% if crops is not none %}
      {% for key, value in crops.items() %}
        {% for crops in value %}
        <div class="container">
          <table class="table table-condensed">
            <tr>
          {% for crop, cropData in crops.items() %}
          <td>
            <div class="w3-container">
              <center>
              <h2>{{ cropData["name"] }}</h2>
            </center>
              {% if cropData["name"] in args %}
              <div class="card" style="width: 20rem;">
                {% else %}
                <div class="w3-card-4" style="width:100%">
                {% endif %}
                <img class="card-img-top" src="{{ url_for('static', filename = cropData["img"]) }}" height="350" width="350">
                <div class="card-block">
                  <table class="table table-condensed">
                    <tr>
                  {% for temp in cropData["temperatures"] %}
                        <td><p class="card-text" > {{ temp }} </p>
                  {% endfor %}
                </tr>
                <tr>
              {% for temp in cropData["temperatures"] %}
                    <td><p class="card-text" >{{ cropData["temperatures"][temp] }} </p>
              {% endfor %}
            </tr>
            <tr>
              <td colspan="4" onclick="this.style.backgroundColor = 'LightBlue';"><label><input type="checkbox" name ="crops" value="{{ cropData["name"] }}"></label></td>
            </tr>
                </table>
                  </div>
                </div>
              </div>
          </div>
          {% endfor %}
        </tr>
        </table>
      </div>
        {% endfor %}
      {%endfor %}
    {% endif %}
    {% if args is not none %}
      {% for arg in args %}
        <p> {{ arg }} </p>
      {% endfor %}
    {% endif %}
    <center>
    <button type="submit" class="btn btn-primary" value="Submit">Show Me Some Plots!</button>
  </center>
  </form>
</div>
{% endblock %}
